
.skill-list{
  list-style: none;
  height: 20vh;
  
  width: 100%; 
 align-items: center;
 animation: moveImages 20s linear infinite;
}
.skill-list li img{
  display: flex;
  width: 60px !important;
  align-items: center;
  border-radius: 10px;

}
.skill h1{
  text-align: center;
  font-size: 50px;
}
.skill-list li {
  display: inline-block; 
}

 .My_cv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

 }
 .My_cv img{
  width: 40px;
 }
 .My_cv a ,img{
background: rgb(160, 243, 201);
padding: 6px;
border-radius: 10px;
text-decoration: none;
color: black;
cursor: pointer;
 }
.skill-list li:hover {
  transform: scale(1.5); 
}

@keyframes moveImages {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(-100%); 
  }
}



 @media (max-width: 768px) {


 .skill{

    overflow-x: hidden;  
  }
} 

