@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: #0a0a0a;
  background-image:
    linear-gradient(60deg, #1a1a1a 25%, transparent 25%),
    linear-gradient(-60deg, #1a1a1a 25%, transparent 25%),
    linear-gradient(60deg, transparent 75%, #1a1a1a 75%),
    linear-gradient(-60deg, transparent 75%, #1a1a1a 75%);
  background-size: 40px 70px;
  min-height: 100vh;
  margin: 0;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
}


@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease forwards;
}
